[2022-11-08 11:35] punkyard commented on #3357
oh ok then

could you capture your emoji list, so i can see how the first missing one looks like please?

![Capture d’écran 2022-11-08 à 12 30 50](https://user-images.githubusercontent.com/59349105/200554069-6a24274a-147c-4dc7-814c-fea62ca056fb.png)
![Capture d’écran 2022-11-08 à 12 31 36](https://user-images.githubusercontent.com/59349105/200554093-51b262db-caed-4bdb-800a-c371821c79b8.png)

[2022-11-08 11:50] mejo- commented on #3357
Yes, this is a known issue with old operating systems and the emoji picker. Not sure whether there's a way to update the emoji fonts on your system, but definitely out of scope for our app :grimacing:

That's how the emoji picker looks for me:

![grafik](https://user-images.githubusercontent.com/3582805/200556685-5f830397-f382-4046-8e03-4d8fd7711e4c.png)

[2022-11-08 11:50] #3357 closed

[2022-11-08 13:37] susnux commented on #3357
So the first two missing ones are `smiling face with tear` and `disguised face`:
https://emojipedia.org/emoji-13.0/

Sadly not, but if your mac is newer then 2012 you should be able to upgrade to at least macOS Big Sure.

[2022-11-08 13:48] max-nextcloud commented on #6
@brainchild0 I agree to your point. I hope we will get to a point where you can switch seamlessly between md and wysiwyg editing, show both at the same time and still collaborate. At that point it would be great to use the same editor in notes and files.

Right now i think we are targeting different audiences and there was (something like) a decision in notes to not use text as the editor. I hope

[2022-11-08 13:52] juliushaertl opened #3389 "Unable to toggle quote on checkbox items"
The following doesn't seem to work as reported by @jancborchardt in a call:

- Have a checkbox item in the document
- Click the block quote to move the checkbox item into a quote

[2022-11-08 13:58] mgifford commented on #3
I'm not sure that most people writing content on the web fit the "talented writer" category. I'm also not sure that a really talented writer would be bothered by the suggestions given by AI. After all, we already have grammar check introducing suggestions. Is this making it better or worse? Not sure. AI could also be trained to write in the style of, journalism, a legal document, or Hemingway. No

[2022-11-08 14:34] brainchild0 commented on #6
@max-nextcloud, In principle there is nothing to prevent separate teams from maintaining distinct notes apps, if the contributors are available, in advance of a full convergence. For example, the wysiwyg interface could be applied to a new notes app, and then later the same interface could be extended to support mode switching, such as to make the other app obsolete.   I know this approach depends

[2022-11-08 14:38] max-nextcloud commented on #162
I played a bit with this and for me `2vmin` looked pretty good. I also tried it in the rich workspace and when changing the window size it works really well.

However `2vmin` seems very flexible. So instead I tried `calc(7px + 1vmin)` and that also worked well.

## `1920x1080` screen.

So `2vmin` should be approx 20px.

The resulting line height with `7px + 1vmin` is 25px - so font size is approx

[2022-11-08 14:40] max-nextcloud commented on #162
What would need to be done:
- [ ] figure out what size to use for fonts
- [ ] figure out heading sizes (they should also be adjusted)
- [ ] maybe also make the width of the entire file flexible.

The flexible width might be required if we want to make sure we can display 80 chars.

[2022-11-08 14:41] max-nextcloud commented on #162
I think this might be an interesting issue for a design call.

[2022-11-08 14:42] max-nextcloud commented on #162
@jancborchardt @nimishavijay Would you have a look at this and play with the numbers some?

We need some values that work both in the workspace and in the viewer. On small and large screens.

[2022-11-08 15:10] marcelklehr commented on #3
The latest model from google I mentioned yesterday is quite smart in dealing with queries like ["is the following sentence readable?"](https://huggingface.co/google/flan-t5-large?text=Q%3A+Is+the+following+sentence+easily+readable%3F+%22Ich+kann+nicht+wissen%2C+ob+ich+jemals+gewusst+habe%2C+was+ich+jetzt+wei%C3%9F%2C+nicht+gewusst+zu+haben.%22) For more detailed things like suggestions and per-wor

[2022-11-08 15:48] juliushaertl commented on #162
Should we maybe collect design call topics with a label as I feel we currently don't have a large thing to review but might well catch up on some smaller ones in a mixed call?

[2022-11-08 15:48] brainchild0 commented on #6
@max-nextcloud, The intention of my suggestion was separate front ends that would converge with the same files store.

[2022-11-08 16:10] #2456 closed

[2022-11-08 16:53] punkyard commented on #3357
thanks for the answers
i'll think about the update then ^^

[2022-11-08 17:54] PatrickJosh opened #3391 "File is deleted when pressing Ctrl+Delete"
Hello,

Apparently, when you press ‘Ctrl+Delete’, the file you are currently editing is deleted. In my opinion, this is very unintuitive since ‘Ctrl+Delete’ is used to delete the word after the cursor in many other programs. The file can still be restored from the trash, but in my opinion it should not be deleted in the first place.

If it is relevant:
I am using Nextcloud 25.0.1, which runs on Fe

[2022-11-08 19:21] jancborchardt commented on #3389
Actually haven't tried clicking the blockquote element, but I tried doing it via keyboard. It's not possible to insert the quote then.

Maybe it's also not such a big problem if it works via the toolbar – I ended up inserting the quote in the line above and removing the linebreak.

[2022-11-09 07:14] #2871 closed

[2022-11-09 09:08] #2821 closed

[2022-11-09 09:29] jancborchardt commented on #162
Considering this issue is already quite old – back then we had a lower general font site, like 13 or 14 px. These days we have 15px (and could increase to 16 at some stage).

In any case, I think the Text app body text having the same size as the default Nextcloud text size is what we should do.

[2022-11-09 09:35] max-nextcloud commented on #162
Closing as the we now use a larger font in general. :smiley:

[2022-11-09 09:35] #162 closed

[2022-11-09 11:37] jancborchardt opened #3400 "Table header is not sticky when scrolling down a long table"
**Is your feature request related to a problem? Please describe.**
When you have a large table and scroll down, currently it’s difficult to keep the overview as the header scrolls away when scrolling down.

**Describe the solution you'd like**
It would be nice if the table header is sticky on the top while the table is in view.

cc @nimishavijay who had the same issue. :)

[2022-11-09 13:22] juliushaertl opened #3404 "File might not be saved if close is happening too fast"
Cypress test showing the issue:

https://github.com/nextcloud/text/blob/f7596d29f3e17e52f5c9825b8128fbb3117e6130/cypress/e2e/directediting.spec.js#L56-L78

There is a sync request issued before close but that may not trigger the save due to the short timespan.

We might want to always send the markdown content with the close request to save if nothing changed.

[2022-11-09 13:24] juliushaertl commented on #2287
This should be fixed already by https://github.com/nextcloud/text/pull/2686

[2022-11-09 13:24] #2287 closed

[2022-11-09 13:32] juliushaertl commented on #450
Some ideas from discussions with @max-nextcloud about this:

- We should already have the information which user did the most recent changes to the document from the step data
- We could use that to save as the user that actually did the changes (or the one who did the most changes)
- This would also work with the planned sync method changes with y.js
- From the UX perspective a shared ownership m

[2022-11-09 14:52] juliushaertl commented on #3391
I'm wondering where that behavior is coming from as we don't have any handling for deletion of a file in text, so maybe viewer or the files app

[2022-11-09 14:56] mejo- commented on #3367
Might this be related to the focus-trap issues we have in Nextcloud 25?

[2022-11-09 15:06] mejo- commented on #989
Mhhh, so this is merely about renaming a javascript class? :monocle_face:

I'd suggest to either fix it straight away or close the issue :wink:

I don't think there's much value in having issues about minor refactoring. Either it will happen along with other work anyway (and this issue will not be memorized by then) or it doesn't seem to be important enough :zany_face:

[2022-11-09 16:21] juliushaertl commented on #989
Agreed, I think Keymap still sounds sane as a naming, but we should move the Ctrl+S registration from the Editor.vue file to the actual plugin instead of using the options.

@luka-nextcloud Mind to have a look into that?

[2022-11-09 21:07] #16 closed

[2022-11-10 08:20] mejo- opened #3618 "Syntax highlighting doesn't work in code blocks in markdown"
In GitLab by @theroch on Nov 10, 2022, 09:20

If we enter code blocks in collectives the syntax highlighting doesn't work:
![Screenshot_2022-11-10_091802](https://gitlab.com/collectivecloud/collectives/uploads/47349d47071b4613505c1bfdba8a5023/Screenshot_2022-11-10_091802.png)

If we open the same file via the files tab with the files text editor,
![Screenshot_2022-11-10_091754](https://gitlab.com/

[2022-11-10 09:52] juliushaertl commented on #3367
Can you maybe tell if your folder/filename has a space or special characters and if it does not happen with just a Readme.md in the root directory?

[2022-11-10 09:55] XueSheng-GIT commented on #3367
You are right. It does work for "Readme.md" and breaks as soon as a space or special character is added to the Filename!

[2022-11-10 21:38] #3370 closed

[2022-11-11 18:54] mejo- commented on #707
In my opinion this issue should either be closed or split into separate issues. While it's a nice feedback about the rich workspace UI, the feedback is pretty old by now, some raised issues got addressed already and rich workspaces is undergoing some redesign anyway (see #3209).

[2022-11-12 08:01] rogercreagh commented on #707
Yes it is very old, I think we were on v18 when I raised it, and as you say it should be broken into separate issues. I'm not currently actively involved in a NC site so I'm not sure what is still relevant. #3209 will certainly help with the main annoyance. I'll close this one for now.

[2022-11-12 08:01] #707 closed

[2022-11-12 11:27] mejo- commented on #707
Thanks a lot for your response @rogercreagh :heart:

[2022-11-14 08:06] max-nextcloud commented on #1643
This seems doable and already specified quite well as we would mostly like it to behave as in talk. We are currently focusing on fixing bugs and have not started feature development for the next release. This seems like a good candidate but also not high priority.

In order to implement this some decisions are still needed:

### How do you select what get's turned into a card?

My gut feeling woul

[2022-11-14 08:09] max-nextcloud commented on #1662
I'm wondering if this still is an issue with the more current nextcloud versions - that is 23, 24 or 25.

@marinofaggiana are you aware of users experiencing the same in recent versions of nextcloud?

I'm tempted to close this as NC 20 and 21 are not supported anymore. But first I want to check if it still is an issue.

[2022-11-14 08:20] max-nextcloud commented on #1667
Other bugs in the area:
* #3374
* #3404

Will add to the board with high priority.

For this issue in particular I think the steps in question might not have been send yet. So we need to keep them around and try resending them once the reconnection succeeds.

[2022-11-14 08:27] max-nextcloud commented on #1708
Changed the issue description to refer to the remaining part of the issue.

[2022-11-14 08:31] max-nextcloud commented on #1708
I think #2775 will fix this. What's happening here is that enter was always understood to mean start a new paragraph. Having a bit of spacing between paragraphs is to be expected. `shift+enter` would create a hard line break without a new para. However there was no way to create this on mobile.

The PR makes it so that one time pressing enter will create a hard line break - with a normal distance

[2022-11-14 08:34] max-nextcloud commented on #1662
Just checked with @marinofaggiana and he has not seen this in a long time. So I'll close the issue. Feel free to reopen / open a new one in case it comes back.

[2022-11-14 08:34] #1662 closed

[2022-11-14 08:43] juliushaertl commented on #1708
Yes, with the current implementation this is expected behavior, so lets close this as a duplicate of https://github.com/nextcloud/text/issues/2761

[2022-11-14 08:43] #1708 closed

[2022-11-14 08:49] juliushaertl commented on #3367
Moving to viewer since the file actions and sidebar handling is happening over there.

[2022-11-14 09:34] max-nextcloud commented on #3375
closing as duplicate of #1715

[2022-11-14 09:34] #3375 closed

[2022-11-14 09:35] max-nextcloud commented on #1715
Copying what @mejo- said in #3375:

[2022-11-14 21:48] juliushaertl commented on #2772
@max-nextcloud Could you outline what is still needed here since the viewer or seems to be merged?

[2022-11-14 21:52] juliushaertl commented on #1450
Works as expected with the latest release

[2022-11-14 21:52] #1450 closed

[2022-11-14 21:53] juliushaertl commented on #3067
Fixed by #2678

[2022-11-14 21:53] #3067 closed

[2022-11-14 21:55] juliushaertl commented on #2803
This will be addressed with https://github.com/nextcloud/text/issues/3209 so closing as a duplicate

[2022-11-14 21:58] juliushaertl commented on #2738
This is an upstream issue in the vue components library: https://github.com/nextcloud/nextcloud-vue/issues/2502

[2022-11-14 21:59] juliushaertl commented on #2234
@jancborchardt Any feedback on this one?

[2022-11-14 22:04] juliushaertl commented on #2783
Do you still encounter this issue? If so please share the relevant errors from your log file.

[2022-11-14 22:06] juliushaertl commented on #1311
Closing as a duplicate of https://github.com/nextcloud/text/issues/1943

[2022-11-14 22:06] #1311 closed

[2022-11-14 22:14] juliushaertl commented on #2725
My main concern about HTML would be that we properly need to ensure to purify/sanitize it, though I think tiptap/prosemirror might already take care of that quite well.

[2022-11-14 22:15] juliushaertl commented on #2486
This is basically how we do it now and removing the bundles is also something in discussion, so closing

[2022-11-14 22:17] juliushaertl commented on #2482
Is this still the case with the latest maintenance release?

[2022-11-14 22:18] juliushaertl commented on #1069
We improved the error behavior quite a bit in the meantime and this also seems to be the only report, so closing this, but feel free to comment if this still is an issue for anyone.

[2022-11-14 22:18] #1069 closed

[2022-11-14 22:19] juliushaertl commented on #1059
The popover items have been moved to the menu bar now for 26, so I'm closing this.

[2022-11-14 22:19] #1059 closed

[2022-11-14 23:17] mritzmann commented on #2482
I can't reproduce the problem with 24.0.7.

[2022-11-15 06:43] #705 closed

[2022-11-15 06:50] max-nextcloud opened #3427 "Inserting image into line of text will add line break two chars after"
This is a follow up to #3282.

We currently the cursor two steps further after inserting the image and before inserting the hard break (if the image is not inserted as first element, which needs other special treatment). This is necessary because per default the cursor is *in front of* the image after inserting it, but we want to add the hard break afterwards.

If you insert an image in between te

[2022-11-15 06:54] max-nextcloud opened #3428 "Preserve number of newlines at the end of md file"
This is a follow up to #3282.

With the new block images a file that only contains an image link will have an empty line added to the end.

The markdown in question already parsed as a block image before. So theoretically it's not necessary to add an empty line after it.

I think we have the same issue with tables at the end of the doc and other block elements. In order to ensure they are not adde

[2022-11-15 06:57] max-nextcloud commented on #3428
part of #3327

[2022-11-15 07:04] max-nextcloud opened #3429 "Handle inline images as inline images"
For a long time we used inline images but rendered them on their own line like a block node. With #3282 we now treat images as block nodes. New images will be inserted with a leading and a trailing newline so they live in their own paragraph. They will then be rendered as a block node.

However images still exist that were inserted before that change. So we also render inline images to look like b

[2022-11-15 07:08] max-nextcloud commented on #3374
It also looks like the disconnected editor sends lots of sync requests. At least that's what i observed on my local machine.

[2022-11-15 07:11] max-nextcloud commented on #3429
[2f7ff70](https://github.com/nextcloud/text/pull/3282/commits/2f7ff70e525ba8f11b8a7988fa083782c2632a90) could serve as a starting point.

[2022-11-15 07:47] max-nextcloud commented on #2725
The [security recommendations of markdown-it](https://github.com/markdown-it/markdown-it/blob/master/docs/security.md) say:

     - That's ok for 99% of user needs.
     - Output will be safe without sanitizer.

I'd like to avoid enabling HTML. But I think we could support `<br>` without enabling it. It would require us to parse `<br>` and `<br />` inside a table as a token of it's own and turn it

[2022-11-15 07:56] max-nextcloud commented on #2772
The change merged to server is limited to only open images and videos directly in the viewer for now:
https://github.com/nextcloud/server/pull/33347/files#diff-22f78918676c8422a8c807a774435aae85eb2f9feed73d4af629f194092d349bR156

It would be nice if we could either broaden that condition to also open things text handles or remove it entirely.

For now if we removed it the file would be opened twic

[2022-11-15 08:22] mejo- commented on #2803
Are you sure @juliushaertl? When there is a readme, the problem described in this issue will still be there, no? While the rich workspace is loading, size changes and thus the file list below will jump around. Probably we should give the outer container a size similar to the final rich workspace editor to prevent the jumping, no? But maybe I'm missing something from #3209 :grimacing:

[2022-11-15 08:25] mejo- commented on #2482
Thanks for the feedback @mritzmann, closing then.

[2022-11-15 08:25] #2482 closed

[2022-11-15 08:45] max-nextcloud commented on #2250
I did not notice i could actually change the content because the file name was long and no cursor appeared when i clicked it - probably because it was cut off at the end of the text.
Pressing enter also yielded no visual feedback. I would have expected the cursor to move to the text below after pressing enter.

[2022-11-15 08:47] max-nextcloud commented on #1890
Closing this as #2250 has a more recent discussion about this. It's on our board for things to fix next.

[2022-11-15 08:47] #1890 closed

[2022-11-15 10:38] szaimen commented on #2803
Sounds good to me!

[2022-11-15 10:38] mejo- commented on #385
@juliushaertl could you elaborate a bit on the background of these enhancements? Maybe we should split them into separate tickets?

[2022-11-15 10:54] mejo- commented on #519
@wiwie,  @mel26, @daCaPo am I right that this is only an issue for files that you share read-only?

[2022-11-15 11:12] mejo- commented on #456
Seems like there's only a few things left to do this. Pulling links into Text already is supported. We'd have to make sure that [drag types `text/uri-list` and `text/plain`](https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API/Recommended_drag_types#dragging_links) are set correctly in the file list, which doesn't seem to be the case right now.

Also, in my tests dragging someth

[2022-11-15 11:16] mejo- commented on #1368
Images uploaded to Text use relative paths nowadays (to the `.attachments.$fileId/` folder). The way we handle images changed a lot starting with Nextcloud 24, so closing this issue as completed.

[2022-11-15 11:16] #1368 closed

[2022-11-15 11:20] mejo- commented on #1486
@robertfromont did you encounter this issue again since you initially reported it? I remember that there was some bug with the mobile app a few versions back but it should have been resolved in the meantime. Please don't hesitate to comment or reopen the issue if this still happens to you on Nextcloud 24+.

[2022-11-15 11:20] #1486 closed

[2022-11-15 11:47] juliushaertl commented on #2803
Would love to get some input from @jancborchardt since the intial height would also be different depending on if the workspace is empty or has content as it dynamically grows currently. Otherwise we might always have quite some additional spacing in there.

[2022-11-15 11:47] juliushaertl commented on #2803
But yes, lets reopen that.

[2022-11-15 12:12] #2873 closed

[2022-11-15 12:17] max-nextcloud commented on #3427
https://github.com/nextcloud/text/tree/fix/gapcursor

[2022-11-15 12:58] juliushaertl commented on #3289
Tested and verified that https://github.com/nextcloud/nextcloud-vue/pull/3478 fixes this

[2022-11-15 13:25] juliushaertl commented on #3142
Pending release for the exported components: https://github.com/nextcloud/nextcloud-vue/pull/3480#pullrequestreview-1180864032

[2022-11-15 13:28] mejo- commented on #3429
We decided to close this issue for now. We didn't have inline-rendered images before and so far nobody complained. So let's rediscuss this once it's a real usability issue for somebody.

[2022-11-15 13:28] #3429 closed

[2022-11-15 17:45] mejo- commented on #2369
@cryptomilk did you find a solution to this problem? Do you still encounter it?

It sems like [`PreviewWatcher->postWrite()`](https://github.com/nextcloud/server/blob/b209a650cccea2c707e5e9d1b97f9b9ab4aa475e/lib/private/Preview/Watcher.php#L53) that is triggered by the [`postWrite` event](https://github.com/nextcloud/server/blob/b209a650cccea2c707e5e9d1b97f9b9ab4aa475e/lib/private/Files/Node/HookC

[2022-11-15 17:52] mejo- commented on #2198
@luka-nextcloud not sure what operating system you're using. The problem with middle-click inserting text is probably on Linux only. There, middle click inserts content from a buffer that contains the last selection. I can reproduce the issue and regularly run into it myself :see_no_evil:

[2022-11-15 18:04] mejo- commented on #3348
I'm unable to reproduce this on latest development branch. @james10424 could you please test the following:

1. Create a new subfolder 'readmetest' and move into it in the Files app
2. Create a new markdown file 'README.md' from the + button on top, add some content
3. Navigate back to the folder, force-reload the page and see whether the content is displayed in the rich workspace area above the f

[2022-11-15 18:47] juliushaertl commented on #3289
Fixed with https://github.com/nextcloud/viewer/pull/1466

[2022-11-15 18:51] juliushaertl commented on #2731
Pushed a fix to #2757

[2022-11-15 20:11] mel26 commented on #519
@mejo-
I've tried read-only shares, yes

[2022-11-16 07:53] max-nextcloud opened #3436 "cypress: Fix retries for keyboard shortcut tests"
Looks like for the keyboard shortcut [tests retries run into file version conflicts](https://dashboard.cypress.io/projects/hx9gqy/runs/7514/test-results/73992c60-c3ce-439f-9cd3-7abd12f1e144?utm_source=github&statuses=%5B%7B%22value%22%3A%22FAILED%22%2C%22label%22%3A%22FAILED%22%7D%5D).

We should name the file depending on the test retry as we do in other tests so uploading the empty file again do

[2022-11-16 08:52] #2731 closed

[2022-11-16 08:52] #2625 closed

[2022-11-16 09:10] daCaPo commented on #519
@mejo- Yes, probably it was. Right now, I cannot reproduce the bug (NC 24.0.7).

[2022-11-16 09:12] mejo- commented on #519
I tried to reproduce the issue locally on latest development branch, but failed so far. Maybe I'm missing something. @mel26 can you still reproduce this with Nextcloud 24 or newer?

[2022-11-16 09:50] Raudius commented on #1099
From what I can tell this is fixed on 25. Size of clickable area is greatly reduced and it is now possible to hide the rich workspaces (both by-user and globally)

[2022-11-16 09:50] #1099 closed

[2022-11-16 11:17] Raudius commented on #1103
Issue stems from OnlyOffice not using the viewer app to show their editor, they directly register a default file action through `OCA.Files.fileActions.setDefault()`.

The URL gets handled directly by the viewer app which fails to find a handler ("plugin").

I think this issue is probably a viewer and/or files issue because the default file actions are not being respected. Either file default actio

[2022-11-16 11:29] Raudius commented on #1169
When opening the file in the direct edit/public view we dont have access to the files app and the user might not even be logged in.

Steps to fix
- [ ] Dont assume OCA.Viewer is available in `src/helpers/links.js#domHref`
- [ ] Forward opening of URL in window, will redirect the user to `/login` if not logged in

[2022-11-16 11:35] Raudius commented on #1170
Related to: https://github.com/nextcloud/text/issues/1169

In 1169 I suggest we handle the opening in the browser, as this would also work for direct editing from desktop. But we could additionally send a PostMessage to the clients in case they can handle the open request more gracefully.

[2022-11-16 11:47] juliushaertl commented on #585
Yep, still relevant. The redirect could happen in a similar way like https://github.com/nextcloud/richdocuments/pull/2419/files#diff-f6848853e94bfe83f31f5a03e8e8c1d086eb07a4ba5c6646b2c5001e05a18da2R424-R455

In addition if on desktop we should just hide the close button and share icon from here (as then there is noone taking care of those post messages emitted):
https://github.com/nextcloud/text/b

[2022-11-16 11:52] juliushaertl commented on #1170
Yep, sounds like something for a `openFile` message that is emitted for that case :)

[2022-11-16 12:02] Raudius commented on #1203
I think this can be closed. Question was answered and relates to an unsupported NC version.

[2022-11-16 12:02] #1203 closed

[2022-11-16 13:31] Raudius commented on #1212
If I am understanding the issue correctly this sounds like a feature request for syncing text sessions with external changes.

This might be possible when opening files read-only. If a conflict occurs we can reload the document from server as the read-only session is not making changes anyway.

[2022-11-16 13:44] Raudius commented on #2421
The "Saving..." status is shown when the document is syncing with the server, closing the document in this status will not guarantee that your latest changes will be saved.

[2022-11-16 14:06] #1212 closed

[2022-11-16 14:25] juliushaertl commented on #1184
Kind of related to #1042 as well

[2022-11-16 16:01] chriscroome commented on #2421
@Raudius why do you believe that this issue has been solved, I have just tested writing to a `.md` document on a development server running [Nextcloud Hub 3](https://nextcloud.com/) (25.0.1) and the issue appears to be unresolved and perhaps even worse than ever, editing Markdown files using the web interface doesn't appear to work at all, could I provide you with an account so you can see for you

[2022-11-16 16:09] Raudius commented on #2421
Hi Chris,

Maybe I misunderstood your initial comment, I though the issue you described was that closing a file during the "Saving..." status results in the file not being saved. This would not be surprising.

However if I understand now, you are reporting that syncing does not work at all? Do you see any messages in your browser console when using the text editor?

I will try testing it with your

[2022-11-16 16:28] chriscroome commented on #2421
Thanks @Raudius this is some of the output I get in the Firefox console:

[code]

[2022-11-17 14:24] susnux opened #3444 "Inline images with links are broken | link is removed on save"
**Describe the bug**
Inline images within links are broken, for example:
[code]

will now result in only the image (link gets removed):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a markdown file with inline image within a link
2. Add some other content (below / before...)
3. Save file and download
4. See removed link

**Expected behavior**
Inline images still have the link

[2022-11-17 17:19] hippi-viking commented on #145
It does not seem fixed in Nextcloud 25. :(

[2022-11-17 22:05] susnux commented on #145
@hippi-viking sorry to hear, would you mind to provide your test file and the file after saved by the text app?

[2022-11-18 05:38] hippi-viking commented on #145
@susnux In the meantime i figured it is still a known and open issue that Text strips the YAML header from Markdown files - even if the file is only opened for reading. Problem is that this breaks PicoCMS. Historically Simple text editor was recommended to be used, but that is also broken under NC25, so at the moment there is no working text editor in NC for editing PicoCMS Markdown files.
For a t

[2022-11-18 07:39] juliushaertl commented on #1927
Seems ot only be an issue with plain txt file now (no longer with markdown files)

[2022-11-18 07:51] susnux commented on #145
I could reproduce this:
On the first time opening the file it works (I opened a file containing already a frontmatter).
After editing and downloading the changes are correctly saved, but when opening the file again the frontmatter is stripped.
I have an idea whats going on there, I will look into this but probably not before (mid of) next week.

[2022-11-18 10:31] xplosionmind commented on #145
Could the issue be reopened?

[2022-11-18 11:18] nickvergessen opened #3451 "Mentioning users does not work by user id and not in lists"
### Missing suggestion

1. Open a text document
2. Start typing your user id "admin" but have "Laura Adams" as displayname
3. After "adm" the mention is not suggested anymore

Before | After
---|---
![Bildschirmfoto vom 2022-11-18 12-14-18](https://user-images.githubusercontent.com/213943/202692972-8d36aa6b-cf73-4ff9-aa29-9e6b60bc6b41.png) | ![Bildschirmfoto vom 2022-11-18 12-14-22](https://user-i

[2022-11-18 12:49] julien-nc commented on #2290
@max-nextcloud Do we still want to implement that? If so, do we set it to high so it's done for the next release? I'm adding the tag, feel free to remove it :grin:

[2022-11-18 13:10] julien-nc commented on #2275
Sorry for the very late answer.

There already is an immediate indicator: the menubar icon changes to a loading spinner while uploading an attachment.

I like the idea of a placeholder. Can we display something in the document without writing stuff in its content?
Or maybe we can insert something that looks like the loading ImageView and which is deleted when the upload ends.

@max-nextcloud The e

[2022-11-18 15:44] maximelehericy commented on #2438
Hmmm, now shift+tab works to decrease the indentation, but tab stopped working to increase it 😑🙂

[2022-11-18 16:39] hippi-viking commented on #145
@susnux Thank you for looking into this!

@xplosionmind I think it is not necessary, it is a known issue as per https://github.com/nextcloud/cms_pico/issues/116 .

[2022-11-18 18:05] timkgh commented on #593
It appears that enabling this option in v25 results in the `Readme.md` file in folders being rendered as plain text now in the Files app.

[2022-11-19 12:36] max-nextcloud commented on #593
That's an interesting observation. My gut reaction was... "Of course they are - why would this not apply to them" - but I guess the interesting difference is showing file content (which by definition cannot change the formatting) vs. editing file content.
So maybe it would be good if this only applied to editing.

On the other hand - if i share a file read only right now people can still watch me

[2022-11-19 12:48] max-nextcloud commented on #1805
Planning to tackle this as part of the y.js based collaboration rework in #2669.
There's little use in looking into it before hand as a lot of the collaboration API will change. So marking the issue as blocked by the y.js rework.

[2022-11-19 13:09] max-nextcloud commented on #1818
I remember that colors used to be blue more often then anything else.
My understanding is that this was fixed in the meantime for avatars and colors are now more evenly distributed.
@juliushaertl , @jancborchardt you might remember this.
I'll close this issue. Please reopen if this has not been fixed.

[2022-11-19 13:09] #1818 closed

[2022-11-20 04:51] bronson commented on #593
Last week I had user suffer data loss when they copied a Markdown file with a simple table into Nextcloud. I explained how they need to be very careful with Markdown files and walked them through reverting to a previous version.

Later, I was considering whether I should send an email to all my users describing what happens if you click on Markdown files, and I saw this:

![image](https://user-ima

[2022-11-20 16:29] liquidat opened #3459 "[Bug]: fresh install, in markdwon editor, hitting ctrl+del deletes the file itself instead of the word"
### ⚠️ This issue respects the following points: ⚠️

- [X] This is a **bug**, not a question or a configuration/webserver/proxy issue.
- [X] This issue is **not** already reported on Github _(I've searched it)_.
- [X] Nextcloud Server **is** up to date. See [Maintenance and Release Schedule](https://github.com/nextcloud/server/wiki/Maintenance-and-Release-Schedule) for supported versions.
- [X] Ne

[2022-11-20 16:51] susnux commented on #3459
duplicate of #3391

[2022-11-20 17:08] susnux commented on #3459
duplicate of https://github.com/nextcloud/text/issues/3391

[2022-11-20 17:08] #3459 closed

[2022-11-20 20:30] liquidat commented on #3391
I can confirm this behavior on an upgraded as well as on a fresh installation of 25, see #3459 for more details.

This does NOT happen with 24.x versions, which can be easily tested with:
`podman run -d --rm -p 8080:80 nextcloud:24-apache`
vs
`podman run -d --rm -p 8080:80 nextcloud:apache`

[2022-11-21 06:46] juliushaertl commented on #3391
Coming from https://github.com/nextcloud/viewer/blob/d49b84edc1eee607212b82039d41bb50884fd596/src/views/Viewer.vue#L799-L801 so we should catch and not propagate the keypress for that.

[2022-11-21 09:11] juliushaertl commented on #1171
Let's close this as a duplicate of #3209 and https://github.com/nextcloud/text/issues/2803

[2022-11-21 09:11] #1171 closed

[2022-11-21 09:15] juliushaertl commented on #2260
This is a specific case of https://github.com/nextcloud/text/issues/2803 so let's close this as a duplicate

[2022-11-21 09:15] #2260 closed

[2022-11-21 09:19] juliushaertl commented on #2238
Still valid, let's add that to the list of things to look into during the development cycle of 26.

[2022-11-21 12:20] max-nextcloud commented on #593
Could you provide a markdown file with a similar table that shows the same behavior?

[2022-11-21 12:20] q-wertz commented on #1818
I cannot confirm that this is fixed.

First author color (me) and second one who joined are both blue.

Text version: 3.5.1

[2022-11-21 12:33] max-nextcloud commented on #593
I assume you don't have it enabled locally, right? Otherwise it would have failed to fix the problem in question - and making it the default would not help.

Before proposing to make it the default - could you try it out locally?
We could really use more feedback:
* Does it fix the problem?
* How does it work for your users?
* Does it create other problems like the one about showing the source in

[2022-11-21 12:59] susnux commented on #1818
It looks like the color calculated here: https://github.com/nextcloud/text/blob/5aeca92a5817fcc817fc9174f45f7e4031cd8ef8/src/extensions/UserColor.js#L37

So it is derived from the clientId which is the current session id. It is a somewhat pseudo random function, e.g. the first 100 values would look like this:
![user colors 1 to 100](https://user-images.githubusercontent.com/1855448/203061186-61a28

[2022-11-21 14:23] q-wertz commented on #1818
Do you remember with which release this fix was published?

Can I find out what the `clientID` is? According to juliushaertels comment above it was derived from the display name. `sessionID` sound like something that changes with every login.

A third user now has a slightly different color (but also blueish)

[2022-11-21 15:57] james10424 commented on #3348
I did the above steps and yes, the `Readme.md` is created after creating `README.md` using the + button in the web UI.

The apps that are enabled:
[code]

[2022-11-22 06:39] pdwalker commented on #1407
I also added a heavy handed ".editor__content { max-width:revert!important; }" to the custom css.  I may refine it further if i find it causing problems elsewhere.

[2022-11-22 07:46] max-nextcloud commented on #593
## Preserve specific markdown syntax

I looked into the options to preserve all existing markdown as is some more.
`markdown-it` already exposes some of the properties of the parsed code in it's data representation:
1. `markdown` property on `<ul>` and `<li>` tokens shows which char they used for marking the list.
2. `markdown` property for emphasis and strong emphasis can be `*` or `_` and `**` o

[2022-11-22 12:13] mejo- commented on #2421
@Raudius I took the liberty to tag the issue `high` and put it on our bugfix board :relaxed:

[2022-11-22 12:24] chriscroome commented on #2421
Thanks @mejo- and @Raudius here is the full Apache configuration (`/etc/apache2/sites-available/cloud.conf`) for the development server (which you can have access to if needed):

[code]

This is the content of the automatically generated `htaccess` file at `/home/cloud/sites/nextcloud/.htaccess`:

[code]

And this is the content of the PHP-FPM configuration at `/etc/php/7.4/fpm/pool.d/cloud.conf`:

[2022-11-22 14:02] #3451 closed

[2022-11-22 14:15] fr-olivier commented on #2923
No, because even when copy/pasting a few words from Word, it is pasted as a screenshot.

[2022-11-22 16:03] juliushaertl commented on #2923
Seems like what @susnux described that word is sharing multiple formats and the image paste handling takes precedence there while it shouldn't.

[2022-11-22 16:51] Sieboldianus commented on #593
Thanks Max for laying this out. I think you are on the right track. I just want to highlight:

There are so many Markdown extensions that you will inevitably break something unexpected. I am not a developer, but just look at this list:

- [mkdocs documentation](https://www.mkdocs.org/), with many extensions, e.g. [Python Markdown Extensions](https://squidfunk.github.io/mkdocs-material/setup/extens

[2022-11-22 16:57] timkgh commented on #593
I agree, it sounds very difficult to try to preserve the format of md files saved by other tools. There should be a mode where the file is read-only and Nextcloud, it does its best to just render it as HTML for viewing purposes only and optionally if you want to edit just edit in _plain text_.
For example I use Obsidian and I just want my md files sync'ed to Nextcloud and view them occasionally in

[2022-11-22 17:17] dumblob commented on #593
Whatever, I do not mind at all **unless** we keep the **default behavior** faulty.

I really want only 1 thing: **defaults have to be absolutely 100% safe no matter what**.

[2022-11-22 17:21] timkgh commented on #593
+1 Data loss for a file storage system is a BIG NO-NO.

[2022-11-22 18:28] bronson commented on #593
I can't provide the affected file (with absolutely gigantic tables) but I just verified that the file from https://github.com/nextcloud/text/issues/772 still suffers data loss:

![image](https://user-images.githubusercontent.com/1776/203391470-482d3e8d-5dca-48f9-9046-26339ccadddb.png)

![image](https://user-images.githubusercontent.com/1776/203392380-f4f4bf51-71c5-4e17-8f62-0f478b43fd32.png)

The

[2022-11-22 19:13] bronson commented on #593
Well, making it the default would stop Nextcloud from messing up Markdown files! That, above all, is my intent here. I simply want Nextcloud to stop corrupting user files. As long as the Nextcloud project sees some file corruption as acceptable, my life as a Nextcloud administrator is more difficult.

As for your question, I can't enable it yet. I'm on AIO, and the AIO release will remain on 24 fo

[2022-11-23 17:57] max-nextcloud commented on #2170
The underlying issue here is that there are a lot of ways html tags can be used to perform actions on behalf of anyone who opens the page. These attacks are called [XSS - cross site scripting](https://owasp.org/www-community/attacks/xss/) attacks.
The most simple example would be injecting a `<script>` tag that can perform arbitrary javascript such as sharing a file, deleting data, leaking the use

[2022-11-23 19:18] max-nextcloud commented on #150
I think this is the same issue that was reported in #2344 which was fixed in #3321.
So closing this.

[2022-11-23 19:18] #150 closed

[2022-11-23 19:42] #3428 closed

[2022-11-23 20:14] max-nextcloud opened #3477 "Detect changes to markdown syntax and ask the user how to proceed"
Splitting out an idea laid out in https://github.com/nextcloud/text/issues/593#issuecomment-1323244299 as suggested by @PhrozenByte in https://github.com/nextcloud/text/issues/593#issuecomment-1324202910_

We want to enable the best possible editing experience to users while making sure that markdown syntax is preserved for those who care about it by default. There's a long discussion about this i

[2022-11-23 20:40] max-nextcloud opened #3478 "Preserve bullet used for lists (-, * or +)"
**Describe the bug**
There are different bullets chars that can be used to write lists in markdown. Preserve them when editing the file in text.

**To Reproduce**
1. Create a file containing a list using `-` chars as bullets.
2. Open the file in text.
3. Change and save the file.
4. Inspect the file. All bullets turned into `*`.

**Expected behavior**
Preserve the type of bullet used.

[2022-11-23 20:46] dumblob commented on #3477
Before deciding anything, please read something about "undo" and UX. E.g. https://en.wikipedia.org/wiki/Mode_(user_interface) , https://www.uxmatters.com/mt/archives/2020/03/are-you-sure-versus-undo-design-and-technology.php etc.

[2022-11-23 20:50] max-nextcloud commented on #3478
Text reads the markdown source and turns it into data structures for the tiptap editor.
When saving the file it serializes these data structures into markdown again.

In order to preserve properties of the initial markdown they need to be handled in each of the steps involved:
1. Parsing with `markdown-it` (md -> html)
2. Loading with tiptap (html -> tiptap nodes and marks)
3. Processing done by t

[2022-11-23 21:48] PhrozenByte commented on #3477
Thank you @max-nextcloud :heart:

Just a few additional notes:

* This approach is fully backwards compatible with previous Text versions: If a file was previously saved with Text (no matter whether it was originally created by Text, or edited later), we won't see any syntax changes and users can proceed as usual.

* This approach might yield some false positives when a user edits a Markdown file

[2022-11-23 21:48] susnux commented on #3477
There should be no saving without altering.

But the problem I see here is:
When is the user asked? Every time a step is send to the server?
Only when the last user leaves the session?

I do not think this is easily implemented for cooperative editing.

[2022-11-23 22:00] susnux commented on #3478
Keep in mind that all list items should use the same bullet, e.g. new created items should use the bullet of the previous item. The same is valid for TODO lists.

[2022-11-23 23:40] dumblob commented on #3477
If `.md` can not be made cooperative, then make `.md` editable non-cooperatively (which as I understand it can be made **safe by default**) and let the user **explicitly** switch to `.mdc` ("markdown cooperative") by clicking a button which would then ask whether the file be renamed to `.mdc` with the traditional "Convert? It may lose current formatting and metadata." message dialogue.

@PhrozenBy

[2022-11-24 08:47] susnux commented on #3477
Additionally: Maybe it would be at least a good first step to provide a warning on first opening a MD file.
Saying something like that the text app is not universal markdown editor but a collaborative WYSIYG editor and can not ensure that markdown files created with external editor will keep their syntax.

So users are informed and may choose another app for editing markdown or as soon as we have

[2022-11-24 11:21] marcelklehr commented on #2761
@jancborchardt The short cut we discussed above would be *shift*+Enter. Ctrl+Enter would be a new one, but also not possible on mobile.

In this issue are actually two questions:

1. Do we want to make hard line breaks using shift+enter easier to discover on the Desktop? If yes, how?
2. Do we want to make hard line breaks possible on mobile? If yes, how do we do this, while keeping the experience

[2022-11-24 12:52] marcelklehr commented on #2774
Confirmed.

[2022-11-24 13:00] marcelklehr commented on #2760
I agree. While editing a file on desktop the changes will not be synced to the text app session until you save and thus potentially override changes made meanwhile on the web by other people. Of course, if you are the only person editing the file on the web, the locking potentially introduces friction, if you forget to close the text app before opening the file on the desktop. IMHO, the potential

[2022-11-26 17:39] JKBWP commented on #2438
Same here, but it's a bit strange: in the Text app, the menu catches focus when pressing tab, so it's not possible to increase the indentation level. But in the Collectives app (which uses the Text app afaik), it works.

[2022-11-27 14:33] Pilzinsel64 commented on #2438
Oh yes, this is very strange. Need to download the file and raw edit it.

[2022-11-27 14:53] Pilzinsel64 commented on #2438
Oh yes, this is very strange. This can't be excpected, especially because Shift+Tag still works.
Want to mentoin that before nc25.0.2 get released. Hope the ping is ok. @juliushaertl

[2022-11-27 16:50] bronson commented on #593
Since this issue seems to have become the default for this problem, maybe the title could be generalized?

From:

To something like:

"Loss of formatting" doesn't really describe what's being talked about here.

[2022-11-28 01:19] nimishavijay commented on #3477
This seems like an interesting question for a design review call! We can discuss this in the upcoming call on our [Design team public talk channel](https://cloud.nextcloud.com/call/gqff69i8#/) on Tuesday 29 Nov at 14:00 CET. Cc  @max-nextcloud @jancborchardt who will be there and anyone else who is interested can join :)

[2022-11-28 01:27] nimishavijay commented on #593
This long running discussion seems like an interesting question for a design review call! We can discuss this in the upcoming call on our [design team public Talk channel](https://cloud.nextcloud.com/call/gqff69i8#/) on Tuesday 29 Nov at 14:00 CET. Cc @max-nextcloud and @jancborchardt who will be there and anyone else who is interested in dropping by :)

[2022-11-28 06:12] Pilzinsel64 opened #3493 "NC25: Tab key shortcut broken - NO possibility increase list intentional level anymore"
**Describe the bug**
- Since Nextcloud 25 it is not possible anymore to increase the intentional level of a list entry. Traditionally it gets done via the TAB key but since NC25 this TAB key points to the close button.
- There is no other option to increase the list intentional level
- The only workaround: Download the file, enter the TAB in the raw text file, upload the file again and continue wo

[2022-11-28 09:16] Pilzinsel64 commented on #3493
Another important notice:
- This happens only if there is NO headline in the document. It doesn't metter where that headline is, as soon as one headline is there, the TAB key works again.

[2022-11-28 09:18] Pilzinsel64 commented on #2438
@JKBWP @maximelehericy
This comment might help you: https://github.com/nextcloud/text/issues/3493#issuecomment-1328763115

[2022-11-28 12:07] jancborchardt commented on #593
So @juliushaertl and I briefly talked about this before cause a friend of mine also remarked this to me – and I fully agree. Most of the time I use Nextcloud Notes on mobile, or my desktop text editor, but sometimes when I use Text on web, some formatting gets busted which of course is not nice. Even if it’s just turning bullet points from `-` to `*`

As far as I understood @juliushaertl we can on

[2022-11-28 12:55] NielBuys opened #3494 "Text app Sidebar do not open in Nextcloud 25.0.1"
**Describe the bug**
When I open an txt or md file in my Nextcloud 25.0.1. The sidebar do not open. It looks like its opening but then the screen goes behind the text window. This worked in Nextcloud v24 before I upgraded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go To an md or text file and open it.
2. Click on the 3 dots and press open sidebar
3. The sidebar do not open.

**Expected

[2022-11-28 12:58] juliushaertl commented on #3494
Is the name or folder path containing any special characters or spaces? Then this would already be addressed with https://github.com/nextcloud/viewer/pull/1470

Please also report back if there are any javascript errors reported in the browser console

[2022-11-28 13:09] NielBuys commented on #3494
The name has spaces but no special characters.
Screenshot of Name
![image](https://user-images.githubusercontent.com/8427483/204285278-bf212d83-7d87-49c3-a9b7-e929dd6be9be.png)

I removed the spaces in the name it did not help
![image](https://user-images.githubusercontent.com/8427483/204285525-385625b6-9e3b-4191-99e8-90f46897a6de.png)

Here is the errors in my browser console. The below error is

[2022-11-28 13:20] GAS85 opened #3495 "[Bug] Document xxx has not been reset, as it has unsaved changes"
**Describe the bug**
Since Nextcloud 22 some file was locked or something and was causing tons of info messages. Currently with update to the latest NV 24 does not changed.
It is unclear how to find this file and what to do to get rid of those info messages.
NC Community was not able to help here --> https://help.nextcloud.com/t/document-xxx-has-not-been-reset-as-it-has-unsaved-changes/147772

**T

[2022-11-28 13:25] Sieboldianus commented on #593
I am sorry if this sounds rude, but I still believe you're on the wrong track trying to mitigate the issue by looking at issues. I would have to omniscient to know all the different problems with todays or future's Markdown files of different apps of different users to be able to list the issues. Since I use Markdown as code, _any_ modification (even if it is just a single dot, or a single space c

[2022-11-28 14:33] susnux commented on #593
To me this sounds like using MS Word as an IDE.

The text app is "advertised" as an simple, visual, **collaborative** text editor, not as a code editor.
I think most users will use it for taking notes or as the nextcloud alternative for etherpads.

So if you are really looking for only a markdown editor, then [nextcloud markdown](https://github.com/icewind1991/files_markdown) might be the better a

[2022-11-28 15:16] newhinton commented on #593
The issue is that markdown IS code. It is a markup language that follows rules that are not standarized. That means that editors have to treat it like code, otherwise stuff breaks.

This discussion circles around, yes. Arguments are repeated on both sides, but to most users this discussion feels that the main "bug" is not adressed at all. The only thing that was suggested is to "fix symptoms" aka

[2022-11-28 16:44] Sieboldianus commented on #593
I am not looking for a markdown editor at all. I am looking for protecting my existing Markdown files, edited elsewhere (Jupytext, Hugo, mkdocs etc.), to not be modified by Nextcloud, when I simply want to _view_ them (no edit). I can live with plain-text view.

[2022-11-28 17:11] PhrozenByte commented on #593
I don't want to sound rude either, but you're expecting Text to square the circle. Text is a WYSIWYG editor, thus it can't - by definition - guarantee that *no* modifications happen. Text can only try to *reduce* the number of modifications - and that's the reason why Text can only do this step-by-step. This issue is about identifying and reducing the number of modifications.

I'm a bit confused.

[2022-11-28 17:41] bronson commented on #593
Yes, that sounds correct. Great summary.

I feel like you’re still using minimizing language though, and that’s been a source of a lot of the confusion around this issue.

I’d write the first sentence to #2 to say: “Some users have mentioned that the set of technologies the Text team has chosen reliably corrupts existing Markdown files.”

And #4 would be: “As long as the text team prioritizes appl

[2022-11-28 17:55] inthreedee commented on #593
@bronson Good points, I updated the language in the summary. Trying to be fair and accurate.

[2022-11-28 17:59] max-nextcloud commented on #593
My impression is that we are making progress in this discussion as soon as we avoid either-or-thinking.

I think any solution we come up with has to:
* Avoid data loss / changing the .md syntax without consent.
* Allow users who never heard of markdown to use the editor to format text with the default settings.

I proposed a design call because I think good design can take different concerns into

[2022-11-28 18:50] juliushaertl commented on #3494
Thanks, in that case this will be fixed in the upcoming 25.0.2 with the above mentioned viewer app pull request.

[2022-11-28 18:50] #3494 closed

[2022-11-29 11:09] max-nextcloud opened #3498 "Cypress memory leaks crash browser after some runs"
**Describe the bug**
Each test run leaves large amounts of data on the heap. With the default settings and the shortcuts spec it's approx. 600 MB.
These will stay on the heap and accumulate. So after the second test run it's 1.2 GB.

**To Reproduce**
Steps to reproduce the behavior:
1. Open cypress test in the browser
2. Open developer tools with memory tab
3. Run the test multiple times
4. See he

[2022-11-29 11:17] max-nextcloud opened #3499 "Cypress snapshots lose css formatting"
**Describe the bug**
When looking at a cypress snapshot in the list of tests run it's displayed without the css applied.
Going back to the current browser state css is also gone.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Cypress
2. Run tests
3. Hover over previous steps
4. See error

**Expected behavior**
The css should still be applied and the view should look like during the tes

[2022-11-29 11:25] mejo- commented on #3499
This seems to be a generic issue with Nextcloud Cypress tests - at least the same happens in Collectives Cypress tests as well.

[2022-11-29 18:45] max-nextcloud commented on #3499
https://github.com/cypress-io/cypress/issues/16066 seems to be the cypress issue in question.

![Bildschirmfoto vom 2022-11-29 19-39-48](https://user-images.githubusercontent.com/97337118/204618631-2ad04392-19cd-420c-8053-9be34e91e475.png)
Cypress snapshot on the left misses all the stylesheets that have a media attribute.